Overview

As a Data Scientist for MTN Cote d'Ivoire, a leading telecom company and you will be solving for the following research question.

Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

Below are some questions that can get you started;

Which ones were the most used city for the three days?
Which cities were the most used during business and home hours?
Most used city for the three days?

Start by importing libraries

In [72]:
# Start by importing Numpy library
import numpy as np

In [73]:
# Import Pandas library
import pandas as pd

Create the Data Frames

In [74]:
# Create dataframe for Telcom Dataset as 'tcd_1'.
# Create dataframe from the linked Telcom_dataset csv file.
# Assign new names to the columns for consistency with similar dataframes in subsequent steps.
# Preview the first five rows
tcd_1 = pd.read_csv('Telcom_dataset.csv')
tcd_1.columns = ['PRODUCT','VALUE','DATETIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
tcd_1.loc[:5]

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN

[6 rows x 10 columns]

In [75]:
# Create a dataframe for Telcom Dataset2 as 'tcd_2'.
# Create dataframe from the linked Telcom_dataset2 csv file.
# Change column names.
# Preview the dataframe
tcd_2 = pd.read_csv('Telcom_dataset2.csv')
tcd_2.columns = ['PRODUCT','VALUE','DATETIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
tcd_2.loc[:5]

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh

[6 rows x 10 columns]

In [76]:
# Create a dataframe for Telcom Dataset3 as 'tcd_3'.
# Create dataframe from the linked Telcom_dataset3 csv file.
# Change column names.
# Preview the dataframe
tcd_3 = pd.read_csv('Telcom_dataset3.csv')
tcd_3.columns = ['PRODUCT','VALUE','DATETIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
tcd_3.loc[:5]

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre

[6 rows x 10 columns]

In [77]:
# Our next objective is to merge the three dataframes to have a common dataframe for the Telcom Datasets.
# Merge the three dataframes along their columns
# Assign the dataframe to variable 'tcd_c'
tcd_c = pd.concat([tcd_1,tcd_2,tcd_3], axis=0)
tcd_c

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [78]:
# Drop duplicate records from our new dataframe
tcd_c.duplicated()
tcd_dup = tcd_c.drop_duplicates()
tcd_dup

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [79]:
# Drop rows containing null records.
tcd_dup.isnull()
tcd_d = tcd_dup.dropna()
tcd_d

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[12789 rows x 10 columns]

In [80]:
# Dropping unnecessary columns from our dataframe
tcd_d = tcd_c.drop(columns=['DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B', 'CELL_ON_SITE', 'SITE_ID' ], axis = 0)
tcd_d

     PRODUCT  VALUE               DATETIME     CELL_ID
0      Voice      0  2012-05-06 23:04:37.0  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  051KhYDCpv
...      ...    ...                    ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7
4997   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f
4998   Voice     32  2012-05-09 00:01:43.0  a4731e780e
4999   Voice     30  2012-05-09 00:01:43.0  98ed726da2
5000   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb

[15003 rows x 4 columns]

In [81]:
# Let us get a description of the data
tcd_d['PRODUCT'].describe()

#tcd_d['SITE_ID'].describe()

count     15003
unique        3
top         sms
freq       7071
Name: PRODUCT, dtype: object

In [82]:
tcd_d['VALUE'].describe()

count    15003.000000
mean        25.548690
std        152.916219
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max      12900.000000
Name: VALUE, dtype: float64

In [83]:
tcd_d['DATETIME'].describe()

count                     15003
unique                     2143
top       2012-05-09 00:00:10.0
freq                         87
Name: DATETIME, dtype: object

In [84]:
# Create a dataframe for Cells Geo as 'cgd'.
# Create dataframe from the linked cells_geo.csv file.
# Preview the dataframe
cgd = pd.read_csv('cells_geo.csv', delimiter= ';')
cgd.loc[:5]

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f
5           5  ASSINIE  In Service  ...  NaN  0b4f56438f  8a1e6ce31f

[6 rows x 12 columns]

In [85]:
# Drop duplicate records from our dataframe.
cgd.duplicated()
cgd_dup= cgd.drop_duplicates()
cgd_dup

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [86]:
#Drop null records from our dataframe
cgd.isnull()
cgd_null = cgd.dropna()
cgd_null

      Unnamed: 0    VILLES      STATUS  ...           AREA     CELL_ID   SITE_CODE
23            23     ABOBO  In Service  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24            24     ABOBO  In Service  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25            25     ABOBO  In Service  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26            26     ABOBO  In Service  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27            27     ABOBO  In Service  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...          ...       ...         ...  ...            ...         ...         ...
3969        3969  ZUENOULA  In Service  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3880 rows x 12 columns]

In [97]:
# Drop columns in cells_geo.csv
cgd_d = cgd_null.drop(columns=['Unnamed: 0', 'LOCALISATION', 'STATUS',	'DECOUPZONE',	'ZONENAME',	'LONGITUDE',	'LATITUDE', 'AREA' 'SITE_CODE'], axis = 0)
cgd_d

KeyError: ignored

In [88]:
# Describe the dataframe to get a view of the contents of the dataframe
cgd_d.describe()

        VILLES  REGION           AREA     CELL_ID
count     3880    3880           3880        3880
unique     501      19              6        3860
top     COCODY  LAGUNE  ABIDJAN NORTH  43ee48e4d6
freq       354    1800           1190           4

In [95]:
# Joining the telcom dataframe and cells geo dataframe on their common column cell id
fin_df = tcd_d.merge(cgd_d, on= ['CELL_ID'], how= 'outer')
fin_df

      PRODUCT  VALUE               DATETIME  ...    VILLES    REGION          AREA
0       Voice    0.0  2012-05-06 23:04:37.0  ...       NaN       NaN           NaN
1         sms    0.0  2012-05-06 23:40:48.0  ...       NaN       NaN           NaN
2         sms    0.0  2012-05-07 23:32:47.0  ...       NaN       NaN           NaN
3         sms    0.0  2012-05-07 23:52:21.0  ...       NaN       NaN           NaN
4        data    0.0  2012-05-07 23:53:21.0  ...       NaN       NaN           NaN
...       ...    ...                    ...  ...       ...       ...           ...
18878     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18879     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18880     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18881     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18882     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH

[18883 rows x 7 columns]

In [92]:
#Drop null records from our dataframe
fin_df.isnull()
fin_df_null = fin_df.dropna()
fin_df_null

Empty DataFrame
Columns: [PRODUCT, VALUE, DATETIME, CELL_ID, VILLES, REGION, AREA]
Index: []

In [96]:
# Drop duplicated values
fin_df.duplicated()
fin_df_dup= fin_df.drop_duplicates()
fin_df_dup

      PRODUCT  VALUE               DATETIME  ...    VILLES    REGION          AREA
0       Voice    0.0  2012-05-06 23:04:37.0  ...       NaN       NaN           NaN
1         sms    0.0  2012-05-06 23:40:48.0  ...       NaN       NaN           NaN
2         sms    0.0  2012-05-07 23:32:47.0  ...       NaN       NaN           NaN
3         sms    0.0  2012-05-07 23:52:21.0  ...       NaN       NaN           NaN
4        data    0.0  2012-05-07 23:53:21.0  ...       NaN       NaN           NaN
...       ...    ...                    ...  ...       ...       ...           ...
18878     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18879     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18880     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18881     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH
18882     NaN    NaN                    NaN  ...  ZUENOULA  MARAHOUE  CENTRE NORTH

[17131 rows x 7 columns]

In [126]:
# To find out at which duration of time the network was most used
fin_df_dup.groupby(['DATETIME'])['VALUE'].sum()

DATETIME
2012-05-06 23:04:37.0       0.0
2012-05-06 23:05:25.0       0.0
2012-05-06 23:05:41.0      25.0
2012-05-06 23:05:42.0      56.0
2012-05-06 23:06:29.0      14.0
                          ...
2012-05-09 00:01:39.0    1319.0
2012-05-09 00:01:40.0     995.0
2012-05-09 00:01:41.0     350.0
2012-05-09 00:01:42.0    1292.0
2012-05-09 00:01:43.0     929.0
Name: VALUE, Length: 2143, dtype: float64

In [116]:
fin_df_dup.groupby('PRODUCT')['VALUE'].sum()

PRODUCT
Voice    306716.0
data      17282.0
sms       52227.0
Name: VALUE, dtype: float64

In [101]:
fin_df_dup['VILLES'].value_counts()

COCODY         353
YOPOUGON       285
ABOBO          244
MARCORY        140
TREICHVILLE    132
              ...
KOTOULA          2
KRIKOREA         2
MEMNI            2
OUANGOLO         1
DANANON          1
Name: VILLES, Length: 501, dtype: int64

In [121]:
fin_df_dup.groupby(['PRODUCT'])[['VALUE']].sum()

            VALUE
PRODUCT
Voice    306716.0
data      17282.0
sms       52227.0